.toggleOptions {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 15px;
  transition: transform 1s ease-out;
  padding: 0;
  display: flex;
}

.toggleOptions:focus {
  outline: none;
}

.rotateButton {
  transform: rotate(360deg);
}

.optionsMenu {
  position: fixed;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  background: linear-gradient(to bottom right, var(--neon-orange), var(--neon-pink));
  transform: translateY(100%);
  transition: transform 0.4s ease-out;
  padding: 20px;
}

.menuUp {
  transform: translateY(0);
}