@import "../../css//font-families.css";

.eventSummaryContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.count {
  font-size: 30px;
}

.name {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name, .count {
  font-weight: bold;
  font-family: var(--roboto);
  width: 150px;
  text-align: right;
  display: inline-block;
}

.perSecondCount {
  font-family: var(--roboto);
  font-weight: bold;
}
