@import "../../css//font-families.css";

.eventSummaryContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nameContainer {
  display: flex;
  align-items: center;
  min-width: 100%;
}

.nameContainerWithTrends {
  flex-wrap: wrap;
  flex: 1 1 100%;
  /* Needed to allow name text to truncate */
  min-width: 0;
}

.name, .count {
  font-weight: bold;
  font-family: var(--roboto);
  text-align: right;
  display: inline-block;
}

.count {
  font-size: 20px;
  flex: 0 0 80px;
}

.name {
  flex: 1 1 100%;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameWithTrends, .countWithTrends {
  flex: 1 1 100%;
}

.nameWithTrends {
  margin-bottom: 5px;
}

.countWithTrends {
  font-size: 30px;
}

.perSecondCount {
  font-family: var(--roboto);
  font-weight: bold;
}
