.canvasContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.eventNames {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 15px;
}

.eventName {
  margin: 0;
}