@import "../../css/font-families.css";

.visualiserContainer {
  display: flex;
  width: 100%;
}

.eventSummaries {
  flex: 1 1 100%;
  position: relative;
}

.summary {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 400px;
}

.chartLegend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: var(--major-mono);
  font-size: 13px;
}