@import "./colors.css";
@import "./font-families.css";

body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-black);
  color: var(--white);
  overflow: hidden;
}

h1 {
  font-family: var(--major-mono);
}