@import '../../css/colors.css';

.whitelistContainer {
  height: 100%;
  flex: 1 1 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  max-height: 100%;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.eventsContainer::-webkit-scrollbar {
  width: 1em;
}

.eventsContainer::-webkit-scrollbar-track {
  background-color: transparent;
}

.eventsContainer::-webkit-scrollbar-thumb {
  background-color: var(--off-black);
  border-radius: 5px;
}
