@import "../../css/colors.css";

.cogContainer {
  display: flex;
  background: linear-gradient(to right, var(--neon-blue) 20%, var(--neon-pink) 80%);
  border-radius: 100%;
}

.cogIcon {
  width: 35px;
  height: 35px;
  margin: -1px;
}

.cogIcon path {
  fill: var(--off-black);
}